/*Reference*/
.reference {
  margin-top:0;
  margin-bottom:10px;
}
.reference li {
	padding-left:2em;
}
.ref-author{
	font-weight:bold;
}
.ref-author:after,
.ref-pub-year:after,
.ref-title:after,
.ref-journal:after{
	content: '. ';
}
.ref-vol:after
{
	content: ':';
}
.ref-vol{
	font-weight:bold;
}
.supper{
	vertical-align:super;
	font-size:10px
}
.sub {
	vertical-align:sub;
	font-size:10px;
}
