@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url(http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3fY6323mHUZFJMgTvxaG2iE.eot);
}
/*Reference*/
.reference {
  margin-top:0;
  margin-bottom:10px;
}
.reference li {
	padding-left:2em;
}
.ref-author{
	font-weight:bold;
}
.ref-author:after,
.ref-pub-year:after,
.ref-title:after,
.ref-journal:after{
	content: '. ';
}
.ref-vol:after
{
	content: ':';
}
.ref-vol{
	font-weight:bold;
}
.supper{
	vertical-align:super;
	font-size:10px
}
.sub {
	vertical-align:sub;
	font-size:10px;
}
/*user-friendly selection*/
::-moz-selection{
	background:rgba(0,75,146,.2);
}
::selection {
	background:rgba(0,75,146,.2);
}
code::-moz-selection {
	background:rgba(0,75,146,.2);
}
code::selection {
	background:rgba(0,75,146,.2);
}
